.cache
.DS_Store
*.DS_Store
*.rdx
*.toc
*.RData
*.tex
*.nav
*.gz
*.log
*.snm
*.rdb
*.Rhistory
node_modules
DeepLearning/latex-math/
DeepLearning/01/cache/
DeepLearning/02/cache/
DeepLearning/03/cache/
DeepLearning/04/cache/
DeepLearning/05/cache/
DeepLearning/06/cache/
DeepLearning/07/cache/
DeepLearning/08/cache/